@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 100% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 75% 55%;
    --primary-foreground: 100 100% 100%;
    --secondary: 218 100% 92%;
    --secondary-foreground: 217 75% 55%;
    --muted: 0 0% 82%;
    --muted-foreground: 100 100% 100%;
    --accent: 217 59% 65%;
    --accent-foreground: 100 100% 100%;
    --destructive: 359 75% 55%;
    --destructive-foreground: 100 100% 100%;
    --border: 217 75% 55%%;
    --input: 0 0% 0%;
    --ring: 217 75 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 100 100% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 75% 55%;
    --primary-foreground: 100 100% 100%;
    --secondary: 218 100% 92%;
    --secondary-foreground: 217 75% 55%;
    --muted: 0 0% 82%;
    --muted-foreground: 100 100% 100%;
    --accent: 217 59% 65%;
    --accent-foreground: 100 100% 100%;
    --destructive: 359 75% 55%;
    --destructive-foreground: 100 100% 100%;
    --border: 217 75% 55%%;
    --input: 0 0% 0%;
    --ring: 217 75 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
