@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: 0 0% 100%;
    --background: 0 0% 96%;
    --foreground: 0 0% 0%;
    --primary: 217 75% 55%;
    --primary-foreground: 0 0% 100%;
    --destructive: 359 75% 55%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 82%;
    --muted-foreground: 0 0% 100%;
    --input: 0 0% 100%;
    --input-foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 82%;
    --ring: 217 75 55%;
  }
  .dark {
    --surface: 0 0% 100%;
    --background: 0 0% 96%;
    --foreground: 0 0% 0%;
    --primary: 217 75% 55%;
    --primary-foreground: 0 0% 100%;
    --destructive: 359 75% 55%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 82%;
    --muted-foreground: 0 0% 100%;
    --input: 0 0% 100%;
    --input-foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 82%;
    --ring: 217 75 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply font-bold text-4xl sm:text-5xl;
  }

  h2 {
    @apply font-bold uppercase text-lg sm:text-xl;
  }

  .link {
    @apply font-bold text-primary hover:text-primary transition-colors ease-in-out;
  }

  .subheader {
    @apply text-xs sm:text-sm;
  }

  .custom-focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus:rounded;
  }
}

/* globals.css */
@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px hsl(var(--card)) inset !important;
    -webkit-text-fill-color: hsl(var(--foreground));
    caret-color: black;
    border-radius: 4px;
  }
}
